<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DeleteOrderingServlet</servlet-name>
        <servlet-class>booking.admin.DeleteOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderingServlet</servlet-name>
        <servlet-class>booking.admin.ConfirmOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderingServlet</servlet-name>
        <servlet-class>booking.admin.CancelOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderingServlet</servlet-name>
        <servlet-class>booking.admin.DisplayOrderingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderingServlet</servlet-name>
        <servlet-class>booking.admin.UpdateOrderingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderingServlet</servlet-name>
        <url-pattern>/deleteOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderingServlet</servlet-name>
        <url-pattern>/confirmOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderingServlet</servlet-name>
        <url-pattern>/cancelOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderingServlet</servlet-name>
        <url-pattern>/displayOrdering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderingServlet</servlet-name>
        <url-pattern>/updateOrdering</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>book_home_page.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>booking</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref> 
</web-app>
